::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}
/* 
@media (prefers-color-scheme: dark) {
  body {
    background-color: #212529;
  }
} */

@font-face {
  font-family: zpix;
  src: url(/zpix.woff2) format('woff2');
}

html * {
  user-select: none;
  font-family: zpix;
  font-weight: bold;
  font-smooth: never;
  line-height: 1;
}
