::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

@font-face {
  font-family: zpix;
  src: url(/zpix.woff2) format('woff2');
}

html * {
  box-sizing: border-box;
  user-select: none;
  font-family: zpix, 'Courier New', Courier, monospace;
  font-weight: bold;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

html {
  cursor: url(/icons/cursor-default.png), auto;
  -webkit-tap-highlight-color: transparent;
}

html body {
  margin: 0;
  max-width: 960px;
  margin: 0 auto;
  font-size: 12px;
}

@media screen and (min-width: 480px) {
  html body {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  html body {
    font-size: 24px;
  }
}

.nes-pointer {
  cursor: url(/icons/cursor-pointer.png) 14 0, pointer;
}

.nes-text {
  cursor: url(/icons/cursor-text.png) 16 16, text;
}
