:root {
  --color-gray-0: #212529;
  --color-gray-1: #adafbc;
  --color-gray-2: #d3d3d3;
  --color-gray-3: #e7e7e7;
  --color-gray-4: #ffffff;

  --color-primary-0: #209cee;
  --color-primary-1: #006bb3;

  --color-success-0: #92cc41;

  --color-error-0: #e76e55;
}
